.header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1340px;
  margin: 92px auto;
}

.header__links-list {
  display: flex;
  gap: 33px;
  line-height: normal;
}

.header__links-list-item {
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
}

.header__logo {
  max-width: 148px;
  margin-right: 148px;
}

.header__logo-image {
  max-height: 105px;
}

address {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.header__address {
  max-width: 240px;
}


.cover {
  position: relative;
  z-index: -1;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.6);
}  

.cover__content {
  padding: 165px 50px 0px;
  position:relative;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}

.cover__title {
  font-size: 100px;
  display: flex;
  flex-direction: column;
  line-height: 115%;
  gap: 20px;
  letter-spacing: 0.3em;
  font-weight: bold;
}

.aligned-text {
  text-align: left;
}

.aligned-text_center {
  display:block;
  text-align: center;
  line-height: 1em;  
}

.aligned-text_right {
  text-align: right;
  line-height: 1em;  
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  padding: 135px 0 50px;
  display: flex;
  justify-content: end;

  gap: 78px;
}

.cover__description-text {
  font-weight: normal;
  font-size: 22px;
  line-height: 1.27em;
  word-spacing: 18px;
  align-self: center;
}

.bet-button {
  border: 1px solid white;
  padding: 12px 32px;
  color: white;
  font-family: inherit;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
} 



.lots {
  margin: 180px 50px 0;
}

.lots__heading {
  padding-left: 40px;
}

.heading {
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: 47px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  margin: 27px 0 32px;
}

.lots__card-list-item {
  max-width: 430px;
  min-height: 450px;
  list-style: none;
}

.card__link {
  display: block;
  height: 100%;
}

.card {
  position: relative;
  z-index: 1;
  height: 100%;
  color: white;
}

.card_type_film {
  background: url(/ono-tebe-nado/images/card-lot-01.jpg) center/cover no-repeat;
}

.card_type_book {
  background: url(/ono-tebe-nado/images/card-lot-02.jpg) center/cover no-repeat;
}

.card_type_picture {
  background: url(/ono-tebe-nado/images/card-lot-03.jpg) center/cover no-repeat;
}

.card__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 40px;
}

.card__title {
  margin-top: 50px;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  margin-bottom: 50px;
  font-size: 20px;
  line-height: 24px;
}

.lots__look-more-link {
  margin-left: 40px;
  font-size: 20px;
  line-height: 23px;
}
/* 
.about {
  display: grid;
  grid-template-columns: 430px 910px;
  margin: 182px 50px 0;
}

.about__column {

}

  /* display: flex;
  flex-direction: column;
  gap: 100px;
  align-self: end;
  padding: 100px 0 0 25px; */
  /*
.about__logo-circle {
  max-width: 240px;
  max-height: 240px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  padding: 63px 46px;
}



.about__text {
  font-size: 20px;
  line-height: 23px;
}

.about__text p:first-child {
  padding-bottom: 28px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 185px 50px 90px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  font-size: 18px;
}

.footer__menu-list-item {
  text-align: center;
  list-style: none;
}

.footer__menu-link {
  font-size: 18px;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  min-width: 240px;
  list-style: none;
}

.footer__social-list-item {
  max-width: 48px;
  max-height: 48px;
} */